{% include 'webA/main.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<link href="{% static '/css/hon.css'  %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <head>
        <meta charset="utf-8" />
        <title>About</title>
    </head>
    <body>
        <center>
            <p2>-----</p2>
            <p2>-----</p2>
            <p2>-----</p2>
            <p2>-----</p2>
            <br> <br>
            <p1>"Hi there, I'm Ian Tolentino, a College Student taking the course of Associate of Computer Technology in STI College, Sta. Maria branch."</p1>
            <br>
            <p1>"An adventurer by heart and an inquisitive individual who takes pleasure in studying historical events."</p1>
            <br>
            <p1>"I hope to fulfil my aspirations of travelling and publishing my stories someday."</p1>
            <br>
            <p1>"I spent my time creating 3D models whenever I need to take a break from doing schoolworks."</p1>
            <br>  
            <p1>"If I ahve an extra time, I will turn to my Youtube and watch my favourite series. Somehow it helps me to ease my mind."</p1>
        </center>
    </body>
</html>
