{% include 'webA/main.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <link href="{% static '/css/hon.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>電車</h1>
    <br>
    <br>
    <br>
    <div class="densha1">
        <div class="container">
            <img src="{% static 'images/221inosakatokaido1989march.jpg' %}" style="width:100%">
            <p>東海道線221系 [新快速]</p>
            <p>(大阪/1989)</p>
        </div>
    </div>
    <div class="densha1">
        <div class="container">
            <img src="{% static 'images/205tabatayamanote2002february.jpg' %}" style="width:88%">
            <p>山手線205系</p>
            <p>(田端/2002)</p>
        </div>
    </div>
    <div class="densha1">
        <div class="container">
            <img src="{% static 'images/209saitamashintoshinkeihintohoku2006october8.jpg' %}" style="width:100%">
            <p>京浜東北線209系 [快速]</p>
            <p>(大宮~さいたま新都心/2006)</p>
        </div>
    </div>
    <div class="densha1">
        <div class="container">
            <img src="{% static 'images/201tokyochuo1989.jpg' %}" style="width:97%">
            <p>中央線201系 [快速]</p>
            <p>(東京/1989)</p>
        </div>
    </div>
    <div class="densha1">
        <div class="container">
            <img src="{% static 'images/183azusa3.jpg' %}" style="width:97%">
            <p>中央線183系 [あずさ]</p>
            <p>(新宿/1999)</p>
        </div>
    </div>
    <div class="densha1">
        <div class="container">
            <img src="{% static 'images/e231-e233-yamanote-keihin-tohoku.jpeg' %}" style="width:94%">
            <p>山手線E231系500番台 + 京浜東北線E233[快速]</p>
            <p>(東京/2015)</p>
        </div>
    </div>
    <div class="densha1">
        <div class="container">
            <img src="{% static 'images/500_sanyo_kodama.jpg' %}" style="width:93%">
            <p>山陽新幹線500系 [こだま]</p>
            <p>(2019)</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="densha1">
        <div class="container">
            <img src="{% static 'images/300_shinkansen_toyohashi.jpg' %}" style="width:93%">
            <p>東海道新幹線300系 [のぞみ]</p>
            <p>(浜松~豊橋/2006)</p>
        </div>
    </div>
    <div class="densha1">
        <div class="container">
            <img src="{% static 'images/103_osaka_loop.jpg' %}" style="width:93%">
            <p>大阪環状線103系</p>
            <p>(2010)</p>
        </div>
    </div>
    </center>
</body>
</html>